body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    background: rgba(76, 175, 80, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    padding-left: 10px;
}


.contact-form h2 {
    color: white;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}


.radio-group label {
    color: white;
}

.radio-group input {
    margin-right: 5px;
}

.contact-form input,
.contact-form textarea {
    padding-left: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    background: white;
    color: #4CAF50;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background: #45a049;
    color: white;
}